In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
corr_2014 = df['Y2014'].corr(df['Element Code'])

In [6]:
corr_2014

0.024456819495221795

In [7]:
corr_2015=  df['Y2015'].corr(df['Element Code'])

In [8]:
corr_2015

0.023889199301639925

In [9]:
corr_2016=  df['Y2016'].corr(df['Element Code'])

In [10]:
corr_2016

0.023443997584961428

In [11]:
corr_2017=  df['Y2017'].corr(df['Element Code'])

In [12]:
corr_2017

0.024254007760045722

In [13]:
grouped_data = df.groupby('Element')

# Get the sum of 'Processing' for each element
sum_processing = grouped_data['Y2017'].sum()

print(f"The total sum of 'Processing' in 2017 is: {sum_processing}")

The total sum of 'Processing' in 2017 is: Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [14]:
mean_2017 = df['Y2017'].mean().round(2)
std_2017 = df['Y2017'].std()

In [15]:
mean_2017

140.92

In [16]:
std_2017

1671.8623590572788

In [17]:
grouped_data = df[['Y2017', 'Area']].groupby('Area')

# Calculate the sum of 'Y2017' for each area
sum_y2017 = grouped_data['Y2017'].sum()

# Sort the sums in ascending order and find the 7th lowest sum
seventh_lowest_sum = sum_y2017.sort_values()[6]

# # Find the area with the 7th lowest sum
area_seventh_lowest_sum = sum_y2017[sum_y2017 == seventh_lowest_sum].index[0]

In [18]:
area_seventh_lowest_sum

'Guinea-Bissau'

In [19]:
unique_countries = df['Area'].nunique()

In [20]:
unique_countries

49

In [21]:
grouped_data = df.groupby('Element')

In [22]:
missing_data_2014 = df["Y2014"].isnull().sum()

total_data_2014 = len(df["Y2014"])
percentage_missing_data_2014 = (missing_data_2014 / total_data_2014) * 100

percentage_missing_data_2014_rounded = round(percentage_missing_data_2014, 3)

In [23]:
missing_data_2014

1589

In [24]:
percentage_missing_data_2014_rounded

2.607

In [25]:
area_highest_sum = sum_y2017.idxmax()

In [26]:
area_highest_sum

'Nigeria'

In [27]:
grouped_data = df.groupby('Element')

In [28]:
sum_processing1 = grouped_data['Y2014'].sum()
sum_processing2 = grouped_data['Y2015'].sum()
sum_processing3 = grouped_data['Y2016'].sum()
sum_processing4 = grouped_data['Y2017'].sum()
sum_processing5 = grouped_data['Y2018'].sum()

In [29]:
sum_processing1["Stock Variation"]

58749.83

In [30]:
sum_processing2["Stock Variation"]

34910.99

In [31]:
sum_processing3["Stock Variation"]

33140.12

In [32]:
sum_processing4["Stock Variation"]

54316.91

In [33]:
sum_processing5["Stock Variation"]

20577.91

In [34]:
grouped_data = df.groupby('Item').sum()

C:\Users\91701\AppData\Local\Temp\ipykernel_1280\4093927358.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = df.groupby('Item').sum()

In [35]:
grouped_data

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09