In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\91701\Downloads\energydata_complete.csv")

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [7]:
x = df[['T2']]
y= df['T6']

In [8]:
x

              T2
0      19.200000
1      19.200000
2      19.200000
3      19.200000
4      19.200000
...          ...
19730  25.890000
19731  25.754000
19732  25.628571
19733  25.414000
19734  25.264286

[19735 rows x 1 columns]

In [9]:
y

0         7.026667
1         6.833333
2         6.560000
3         6.433333
4         6.366667
           ...
19730    24.796667
19731    24.196667
19732    23.626667
19733    22.433333
19734    21.026667
Name: T6, Length: 19735, dtype: float64

In [10]:

model = LinearRegression()

model.fit(x, y)

LinearRegression()

In [11]:
y_pred = model.predict(x)

r2 = r2_score(y, y_pred)

In [12]:
r2

0.6418990830855493

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [14]:
columns_to_remove = ["date", "lights"]
df = df.drop(columns=columns_to_remove)

In [15]:
X = df.drop(columns=["Appliances"])
y = df["Appliances"]

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [17]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
model.fit(X_train_scaled, y_train)

LinearRegression()

In [19]:
y_pred = model.predict(X_test_scaled)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = (mse ** 0.5)
r2 = r2_score(y_test, y_pred)

In [20]:
len(y_test)

5921

In [21]:
print("Mean Absolute Error:", round(mae, 2))

Mean Absolute Error: 53.64

In [22]:
rmse

93.64046093998029

In [23]:
r2

0.14890246319303535

In [24]:
mse

8768.535925051974

In [25]:
rss=np.sum(np.square(y_pred - y_test))

In [26]:
rss

51918501.21223274

In [27]:
feature_weights = pd.Series(model.coef_, index=X.columns).sort_values()

In [28]:
feature_weights

RH_2          -469.521362
T_out         -344.389845
T2            -252.710373
T9            -203.236627
RH_8          -168.627161
RH_out         -83.107599
RH_7           -47.563552
RH_9           -42.586339
T5             -16.752822
T1              -3.510725
rv1              0.823870
rv2              0.823870
Press_mm_hg      7.315243
T7              11.002934
Visibility      13.168072
RH_5            17.035636
RH_4            27.311829
T4              31.009668
Windspeed       31.225948
RH_6            40.712058
RH_3           102.771652
T8             109.134698
Tdewpoint      125.430637
T6             252.716928
T3             310.971037
RH_1           495.526020
dtype: float64

In [29]:
from sklearn.linear_model import Ridge

In [30]:
ridge_model = Ridge(alpha=0.4)
ridge_model.fit(X_train_scaled, y_train)
y_pred = ridge_model.predict(X_test_scaled)
mse_ridge = mean_squared_error(y_test, y_pred)
rmse_ridge = (mse ** 0.5)

In [31]:
rmse_ridge

93.64046093998029

In [32]:
from sklearn.linear_model import Lasso

In [33]:
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X_train_scaled, y_train)
feature_weights = pd.Series(lasso_model.coef_, index=X.columns)
num_non_zero_features = sum(feature_weights != 0)

In [34]:
num_non_zero_features

25

In [35]:
feature_weights

T1              -4.055859
RH_1           494.326194
T2            -249.638653
RH_2          -465.821050
T3             310.200156
RH_3           102.172472
T4              30.344205
RH_4            26.560581
T5             -17.113012
RH_5            17.013556
T6             249.833620
RH_6            40.090963
T7              10.304918
RH_7           -47.209610
T8             108.879691
RH_8          -168.697937
T9            -202.480809
RH_9           -42.446053
T_out         -332.573565
Press_mm_hg      7.281223
RH_out         -77.988779
Windspeed       31.388025
Visibility      13.078131
Tdewpoint      118.062594
rv1              1.630995
rv2              0.000000
dtype: float64

In [36]:
mse_lasso = mean_squared_error(y_test, y_pred)
rmse_lasso = (mse ** 0.5)

In [37]:
rmse_lasso

93.64046093998029